<%= simple_form_for(@chapter, wrapper: :bootstrap3_horizontal, defaults: {right_column_html: {class: "col-lg-3 col-md-3"},
                                                                          label_html: {class: "col-lg-2 col-md-2"}}, html: {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <%= f.input :name %>
      <%= f.input :number %>
    </div>
    <%= f.submit "Save", :class => "btn" %>
<% end %>
