<h1>jQuery Introduction</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Chapter</th>
    <% if (edit_mode_enabled?) %>
        <th></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @chapters.each do |chapter| %>
      <tr>
        <td><%= link_to "#{chapter.number }) #{chapter.name}", chapter %></td>
        <% if (edit_mode_enabled?) %>
            <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<% if (edit_mode_enabled?) %>
    <hr/>
    <%= link_to 'New Chapter', new_chapter_path %>
<% end %>
