<h1>jQuery Introduction</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Chapter</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @chapters.each do |chapter| %>
      <tr>
        <td><%= link_to "#{chapter.number }) #{chapter.name}", chapter %></td>
        <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<hr/>

<%= link_to 'New Chapter', new_chapter_path %>
