// Place all the styles related to the examples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.example_content
{
  margin: 5px;
  border: 2px solid lightblue;
  padding: 5px;
  border-radius: 4px;
}

.example_sample_preview
{
  margin: 5px;
  border: 2px solid lightgray;
  padding: 5px;
  display: none;
}

.sample_header span.toggler
{
  font-size: 70%;
  color: #cccccc;
}


.example_sample_container .sample_header span.toggler:after
{
  content: "(show)";
}

.example_sample_container.show_example .sample_header span.toggler:after
{
  content: "(hide)";
}

.example_sample_container.show_example .example_sample_preview
{
  display: block;
}
